<!doctype html>
<html lang='en'>

<head>
<link rel="stylesheet" href="/style.css">
<meta charset='utf-8'>
<title>ROCK, PAPER, SCISSORS</title>
</head>

<body>
<div class="header">
    <h1>RK - PPR - SCSSRS</h1>
  </div>
<nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="rules">rules</a></li>
</ul>
<%= yield %>
</body>

</html>